    
    /* ======================= General */
    
    html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }

    body {
        background: linear-gradient(to bottom, #abe3b2, #b6c4b6);
        background-attachment: fixed; 
      }

    .container {
        margin-top: 80px;
    }

    .form-control {
        margin-bottom: 20px;
        background-color: #d5e6db;
        border: 0px;
        border-radius: 15px;
        font-family: 'Josefin Sans', sans-serif;        
    }

    .form-control li
    {
        list-style-type: none;
    }
    
    .btn {
        font-family: 'Josefin Sans', sans-serif;      
    }

    .btn-darkgreen {
        background-color: darkgreen;
        color: white;
        border: none;
    }

    .btn-darkgreen:hover {
        background-color: #608863
    }
     


    /* ======================= Nav */

    .navbar {
        z-index: 3;
    }

    .navbar a {
        color: #beb0b0;
        font-size: 16px;
        font-weight: bold;
        text-decoration: none;
    }
    
    .navbar a:hover {
        color: #08560e;
    }
    
    .navbar-brand {
        display: flex;
        align-items: center;
    }
    
    .navbar-brand > img {
        display: inline-block;
        margin-bottom: 2px;
        margin-right: 5px;
        width: 20px;
        border-radius: 2px;
    }
    
    .nav > li > a > img {
        width: 32px;
        border-radius: 32px;
    }
    
    ul.nav.navbar-nav {
        align-items: center;
    }
    
    ul.nav.navbar-nav li {
        margin: 0 0.5rem;
        display: flex;
    }

    

    /* ======================= Homepage */

    .homepage {
        --bs-gutter-x: 0;
    }

    .welcome p, .signup_msg p {
        color: white;
        font-family: 'Josefin Sans', sans-serif;
        font-size: 1.25rem;
        margin: 5px;

    }

    .carousel-item {
        position: relative;
        height: 100vh; 
        background: no-repeat center center scroll;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: 100% 100%;        
    }
    
    .carousel-item .image-overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.3)
    }

    .fixed-text {
        position: absolute;
        top: 30%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        z-index: 2;
        color: white;
        white-space: nowrap;
    }

    .fixed-text p {
        font-size: 16px;
    }
      
    @media (max-width: 844px) {
        .fixed-text p {
            font-size: 12px;
        }
    }

    
    .rightside {
        background: linear-gradient(to bottom, #05410a, #889088)
    }

    .movie-form-container h1 {
        color: rgb(57, 162, 101);
        margin-top: 20px;
        
    }

    .movie-form-container p {
        color: rgb(149, 156, 152);
        font-size: 25px;
        margin: 0 auto;
    }

    .movie-form-container input[type="radio"] + label {
        color: rgb(80, 80, 80);
        font-family: 'Josefin Sans', sans-serif;
    }

    .movie-form h1, .movie-form p  {
        font-family: 'Alfa Slab One', cursive; 
    }

    #movie_title::placeholder {
        text-align: center;
    }

    .error_msg {
        margin: 5px;
    }

    .error_msg p, .error_msg li {
        color: rgb(255, 0, 0);
        font-size: 14px;
        margin: 5px;
        font-family: 'Josefin Sans', sans-serif;
    }

    .error_msg .acceptable p {
        color: greenyellow
    }

    @media (max-width: 844px) {
        .movie-form-container {
            margin: 10px;
        }
    }


    
    /* ======================= general titles */

    .show-suggestions.title h1, .login-form h1, .signup-form h1,
    .edit-profile-form h1, .create-review h1, .edit-review h1,
    .confirmation-form h1
    {
        margin: 10px;  
        margin: 10px auto;        
        text-align: center;     
        background: linear-gradient(to right, darkgreen, blue);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        padding: 10px;
        font-family: 'Josefin Sans', sans-serif;
        font-size: 30px;
    }

    /* ======================= Show suggestion*/

    .custom-card {
        margin-bottom: 50px;        
    }
    
    .show_suggestions {
        font-family: 'Josefin Sans', sans-serif;
    }

    .fa {
        font-size: 20px;
        display: inline-block;
        white-space: nowrap;
    }
    
    .checked {
        color: orange;
    }

    .list-group-item custom-list-group-item {
        height: 30px; 
    }

    .card-header {
        padding: 8px; 
        height: 70px; 
    }

    .list-group-item {
        padding: 5px
    }

    .card {
        max-height: 510px;
    }

    .card-body {
        padding: 8px;
    }
    


    /* ======================= details */

    body.movie-bg {
        background-color: #00dea8;
        background-image: linear-gradient(90deg, #76f6d6 0%, #161a1b 95%);
        background-attachment: fixed;
    }

    .movie-detail-content h1, .cast-detail h1 {
        color: rgb(0, 0, 0);
        font-family: 'Alfa Slab One', cursive;
    }
    .movie-detail-content, .cast-detail { 
        font-family: 'Josefin Sans', sans-serif;
        color: white    
    }

    .movie-detail-content h2, .cast-detail h2 {
        font-size: 2rem;
        margin-bottom: 5px;
    }
    .genre-badge {
        padding: 2px;
        margin: 2px;
    }


    /* Default styles for all screen sizes */
    .row {
        display: flex;
        flex-wrap: wrap;
    }
    
    .column-1, .column-2, .column-3 {
        padding: 10px;
        box-sizing: border-box;
    }
    
    .iframe-container {
        position: relative;
        width: 100%;
        padding-bottom: 56.25%; /* 16:9 aspect ratio for the iframe */
    }
    
    iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    .column-2 {
        display: flex; 
        flex-direction: column; 
        justify-content:  space-between; 
        margin: 10px;
        margin-left: 30px;
    }
    
     /* Styles for small screens */
    @media (max-width: 767px) {
        .column-1, .column-2, .column-3 {
        flex-basis: 100%;
    }
    
    .column-2 {
        order: 2;
    }
    
    .column-3 {
         order: 3;
    }
    
    .iframe-container {
        padding-bottom: 42.19%;
        }
    }
  
  /* Styles for medium screens */
    @media (min-width: 768px) and (max-width: 1199px) {
        .column-1, .column-3 {
            flex-grow: 1; /* Allow column-1 and column-3 to grow */
            flex-basis: 50%; 
    }
    
    .column-2 {
        flex-basis: 100%;
        order: 2; 
        }
    }
  
  /* Styles for large screens */
    @media (min-width: 1200px) {
        .column-1 {
        width: 300px; 
        }
        
        .column-2 {
        width: 300px; 
        }
        
        .column-3 {
        flex: 1; /* Allow column-3 to grow and fill the remaining space */
        width: auto;
        }
    }
  
 /* ############################# */
       
    .movie-detail-content a, .cast-detail a {
        color: rgb(0, 0, 0);
        font-weight: bold;
        text-decoration: none; 
      }
      
    .movie-detail-content a:hover, .cast-detail a:hover {
        text-decoration: underline; 
      }

    .movie-detail-content .add-favorites a:hover,
    .cast-detail .add-favorites a:hover {
        text-decoration: none; 
      }
    
    .movie-detail-content  .movie-info {
        margin-top: 10px;
    }
    .movie-detail-content  .movie-info div {
        margin: 5px; 
        padding: 5px; 
    }

    .circle {
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        top:0;
        left:120px;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        background-color: #90b75e;
        border: 5px solid rgb(4, 113, 4);
    }

    .cast-movie {
        position: relative
    }

    /* ======================= Reviews */

    .all-reviews, .movie-reviews, .user-review {
        margin-left: 100px;
        margin-right: 100px;
        color: white;
    }

    .user-review p, .all-reviews p, .all-reviews span,
    .movie-reviews p, .movie-reviews span {
        font-family: 'Josefin Sans', sans-serif;
    }

    .all-reviews h1, .movie-reviews h1, .user-review h1 {
        color: rgb(255, 255, 255);
        font-family: 'Alfa Slab One', cursive;
        font-size: 1.5rem;
    }

    .all-reviews a {
        color: rgb(0, 0, 0);
        font-weight: bold;
        text-decoration: none; 
    }

    .all-reviews a:hover, .movie-reviews a:hover, .user-review a:hover{
        text-decoration: underline; 
    }

    .movie-reviews a, .user-review a {
        color: rgb(255, 255, 255);
        font-weight: bold;
        text-decoration: none; 
    }

    
    .user-review .movie a {
        color: rgb(0, 0, 0);
    }

    .user-review .delete-review a {
        text-decoration: none;    
    }
    

    
    /* ======================= favorites */
        
    .favorite-movies, .favorite-casts {
        font-family: 'Josefin Sans', sans-serif;

    }

    .favorite-casts h1, .favorite-movies h1  {
        color: rgb(255, 255, 255);
        font-family: 'Alfa Slab One', cursive;
        font-size: 1.5rem;
        margin-bottom: 25px;
    }

    .favorite-movies a, .favorite-casts a{
        color: rgb(0, 0, 0);
        font-weight: bold;
        text-decoration: none; 
    }

    .favorite-movies a:hover, .favorite-casts a:hover {
        text-decoration: none; 
    }



    /* ======================= User profile */
    
    .user-profile p, .user-profile h1 {
        font-family: 'Josefin Sans', sans-serif;
    }
    .user-profile a {
        color: rgb(4, 113, 4);
        font-weight: bold;
        text-decoration: none;
        margin: 5px;
    }

    .user-profile a:hover {
        color:rgb(103, 201, 103);
        text-decoration: underline
    }

