{% extends 'base.html' %}

{% block body_class %}movie-bg{% endblock %}

{% block content %}
        
        <div class="user-review">
                <div class="row">
                        <div class="col-6">
                                <h1>MY REVIEWS</h1>
                        </div>
                        <div class="col-6 d-flex flex-row-reverse">
                                <div>
                                        <a href="/users/{{ id }}"> Go Back </a>
                                </div>
                        </div>
                </div>
        {% if g.user.id == id %}
            {% for movie in movies%}
                
                <div class="row p-1">    
                        <div class="movie col-12 col-md-8">                    
                                Review about <a href="/movie_detail/{{ movie.id }}"> {{ movie.title }} </a>    
                                <p class="text-justify"> {{ movie.review }}</p>
                        </div>
                        <div class="col-12 col-md-4 
                        d-flex .flex-column flex-row"> 
                                <div>
                                <a href="/reviews/{{ movie.id }}/edit"> Edit review </a>
                                <div class="delete-review"> <a href="#">
                                        <i class="fa-solid fa-trash" style="color: #ff0000;"></i>
                                </a> Delete
                                </div>
                                </div>
                        </div>
                </div>
                <hr>
                
            {% endfor %}
        {% endif %}
        </div>


{% endblock %}