{% extends 'base.html' %}

{% block body_class %}movie-bg{% endblock %}

{% block content %}

<div class="favorite-movies">
    <div class="row">
        <h1> MY MOVIES </h1>
        {% for movie in movies_info %}
            {% for id in movie.keys() %}
                    <div class="col-12 col-sm-6 col-md-4 col-lg-2 d-flex justify-content-center custom-card">
                        <div class="card border" style="width: 18rem;">
                        <img class="card-img-top" src="{{ movie[id]['img_url'] }}" alt="image" width="200" height="300">
                        <div class="card-header"><a href="/movie_detail/{{ id }}"> {{ movie[id]['title'] }} </a> </div>
                        <div class="card-body">                                                    
                            <div><a href="/review_movie/{{ id }}"> Write a Review </a> </div>
                            <a href="/favorite_movies/{{ id }}/delete">
                            <i class="fa-solid fa-trash" style="color: #ff0000;"></i>
                            </a>
                            Delete the Movie
                            </div>    
                        </div>
                    </div>      
                {% endfor %}
            {% endfor %}
        </div>
</div>       
                
{% endblock %}
