{% extends 'base.html' %}

{% block body_class %}onboarding{% endblock %}

{% block content %}

  <div class="edit-profile-form">
      <div class="row justify-content-md-center">
          <div class="col-md-7 col-lg-5">
            <h1 class="join-message">Edit your profile</h1>
        
            <form method="POST" id="user_form">
              {% include "_form.html" %}    
              <button class="btn btn-lg btn-darkgreen">Submit</button>
            </form>
        
          </div>
      </div>
  </div>

{% endblock %}
