{% extends 'base.html' %}

{% block body_class %}onboarding{% endblock %}

{% block content %}

  <div class="login-form">
  <div class="row justify-content-md-center">
    <div class="col-md-7 col-lg-5">
      <h1 class="join-message"> Welcome back </h1>          
      <form method="POST" id="user_form">
        {% include "_form.html" %}
        <div>
        <p class="credentials"> Username: demo Password: 123456 </p>
        </div>
        <button class="btn btn-lg btn-darkgreen">Log in</button>
      </form>

    </div>
  </div>
</div>

{% endblock %}

