{% extends 'base.html' %}

{% block body_class %}onboarding{% endblock %}

{% block content %}

    {% if g.user.id == user.id %}
           
            <img src="{{ user.image_profile }}" width="200" height="200" alt="image-profile">
            <h1>{{ user.username }}</h1>
            <p>email: {{ user.email }}</p>
            
            {% if user.username == 'demo' %}
                <p>The edit and delete options are not available for the demo account.</p>
            {% else %}
                <div class="user-profile d-flex flex-column">
                    <a href="/users/edit">Edit Profile</a>
                    <a href="/favorite_movies"> Favorite Movies </a>
                    <a href="/favorite_casts"> Favorite Casts </a>
                    <a href="/users/{{ g.user.id }}/reviews">My Reviews</a>

                    <form method="POST" action="/users/delete" class="form-inline">
                        <button class="btn btn-danger btn-sm p-1">Delete Account</button>
                    </form>
                </div>
                
            {% endif %}

    {% endif %}

{% endblock %}

                    <!-- <a href="/users/edit" class="btn btn-outline-secondary custom-btn text-center">Edit Profile</a>
                    <a class="btn btn-outline-info custom-btn text-center" href="/favorite_movies"> Favorite Movies </a>
                    <a class="btn btn-outline-info custom-btn text-center" href="/favorite_casts"> Favorite Casts </a>
                    <a class="btn btn-outline-info custom-btn text-center" href="/users/{{ g.user.id }}/reviews">My Reviews</a> -->
