{% extends 'base.html' %}

{% block body_class %}movie-bg{% endblock %}

{% block content %}

        <div class="movie-reviews">
            <div class="row">
                <div class="col-6">
                    <h1>MOVIE REVIEWS</h1>
                </div>
                <div class="col-6 d-flex flex-row-reverse">
                    <div>
                        <a href="/movie_detail/{{ id }}"> Go Back </a>
                    </div>
                </div>
            </div>
            
                    {% if movies %}
                        {% for movie in movies %}
                            <div class="p-1">
                                <img src="{{ movie.user.image_profile }}" alt="image" width="50" height="50" class="border border-dark rounded-circle">
                                <span> Review by <b class="text-dark">{{ movie.user.username }}</b></span>
                                <p class="text-justify"> {{ movie.review }} </p>
                            </div>
                            <hr> 
                        
                        {% endfor %}
                    {% endif %}

                    {% if ex_reviews %}
                        {% for review in ex_reviews %}    
                            <div class="p-1"> 
                                {% set path = review['author_details']['avatar_path']  %}
                                {% if path %}
                                    <img src="{{ path }}" alt="image" width="50" height="50" class="border border-dark rounded-circle">
                                {% endif %}

                                <span> Review by <b class="text-dark">{{ review['author'] }}</b></span>                            
                                <p class="text-justify"> {{ review['content'] }}</p>                                
                            </div>
                            <hr>                            
                        {% endfor %}
                    {% endif %}                
        </div>
     

{% endblock %}